<%- include('../partials/header') %>

    <h2>Enter a New flight</h2>
    <form action="/flights" method="POST">
        <label>airline:
            <input type="text" name="airline">
        </label><br>
        <label>airport:
            <select name="airport">
                <option value="AUS">AUS</option>
                <option value="DEF">DEF</option>
                <option value="DEN">DEN</option>
                <option value="LAX">LAX</option>
                <option value="SAN">SAN</option>
                <option value="ATL">ATL</option>
            </select>
        </label><br>
        <label> flightNo:
            <input type="number" name="flightNo">
        </label><br>
        <button type="submit">Add Flight</button>
        <label for="departs">Choose a departure time:</label>
        <input type="datetime-local" id="departs" name="departs" value="2018-06-12T19:30" min="2018-06-07T00:00" max="3018-06-14T00:00" />

    </form>
    <p>
        <%= errorMsg %>
    </p>

    <%- include('../partials/footer') %>